{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Change Password{% endblock title %}

{% block content %}

	<div class="d-flex justify-content-center align-items-center" style="min-height: calc(100vh - 80px);">
		<div class="card p-4 m-3" style="width: 500px;">
			<h1 class="text_dark text-center">Change Password</h1>
			<div class="mt-3">
				<form method="post">
					{% csrf_token %}
					{{ form | crispy }}
					<button type="submit" class="btn btn-info w-100 fw-6">Change Password</button>
					<span>Forgotten Password? <a href="{% url 'account_reset_password' %}">Reset Here</a>.</span>
				</form>
			</div>
		</div>
	</div>

{% endblock content %}