{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Password Reset{% endblock title %}

{% block content %}

	<div class="d-flex justify-content-center align-items-center" style="min-height: calc(100vh - 80px);">
		<div class="card p-4 m-3" style="width: 500px;">
			<h1 class="text_dark text-center">Password Reset</h1>
			<div class="mt-3">
				<span>Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.</span>
				<form method="post">
					{% csrf_token %}
					{{ form | crispy }}
					<button type="submit" class="btn btn-info w-100 fw-6">Reset My Password</button>
				</form>
			</div>
		</div>
	</div>

{% endblock content %}