{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Your Profile{% endblock title %}

{% block content %}

	<div class="container mt-3">
		<div class="row">
			<div class="col-lg-6 offset-lg-3">
				<div class="card p-3">
					<h2 class="text_dark">Your Profile</h2>
					<div class="d-flex justify-content-center">
						<div class="rounded-circle" style="width: 150px; height: 150px;">
						  <img src="{{ request.user.userprofile.image.url }}">
						</div>
					</div>
					<div class="mt-3">
						<form method="post" enctype="multipart/form-data">
							{% csrf_token %}
							{{ u_form | crispy }}
							{{ p_form | crispy }}
							<button type="submit" class="btn btn_primary w-100 mt-2">Update Profile</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock content %}