{% extends 'base.html' %}
{% load fontawesome_5 %}
{% load crispy_forms_tags %}

{% block title %}{{ course.name }}{% endblock title %}

{% block content %}

	<div class="container mt-3">
		<div class="row">
			<div class="col-lg-8 offset-lg-2">
				<div class="card p-3">
					<div class="d-flex align-items-start">
					    <div style="flex-basis: 200px; min-width: 100px;" class="flex-md-shrink-0">
					        <img class="" src="{{ course.thumbnail.url }}" alt="">
					    </div>
					    <div class="ml-3 ml-lg-4 d-flex flex-column">
					        <h6 class="text_dark fw-5">{{ course.name }}</h6>
					        <span class="small">{{ course.headline | truncatewords:15 }}</span>
					    </div>
					</div>
					<div class="container mt-5">
						<div class="row">
							<div class="col-md-8 offset-md-2">
								<div class="d-flex flex-column">
									{% for module in object_list %}

										<div class="border py-2 px-3 d-flex justify-content-between align-items-center mb-2">
											<span>{{ module.name | capfirst }}</span>
											<div class="dropdown">
												<button class="dropdown-toggle btn btn-sm btn-light" data-toggle="dropdown">
													{% fa5_icon 'ellipsis-h' %}
												</button>
												<div class="dropdown-menu dropdown-menu-right">
													<a href="#" class="dropdown-item">Edit</a>
													<a href="#" class="dropdown-item">Delete</a>
												</div>
											</div>
										</div>

									{% endfor %}

									<button class="btn btn-light border text-muted fw-6 mt-2" data-toggle="modal" data-target="#add-module">
										<span class=" mr-1">
											{% fa5_icon 'plus-circle' %}
										</span>
										<span>Add Module</span>
									</button>

									<!-- Add Module Modal -->

									<div class="modal fade" id="add-module" tabindex="-1" role="dialog" aria-labelledby="add-module-title" aria-hidden="true">
									    <div class="modal-dialog modal-dialog-centered" role="document">
									        <div class="modal-content">
										        <div class="modal-header">
										            <h5 class="modal-title" id="add-module-title">Modal title</h5>
										            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
										            	<span aria-hidden="true">&times;</span>
										            </button>
										        </div>
									            <form method="post" action="{% url 'module_create' course.pk %}">
									      		    {% csrf_token %}
										            <div class="modal-body">
										            	{{ form | crispy }}
										            </div>
										            <div class="modal-footer">
										                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
										                <button type="submit" class="btn btn-info">Create</button>
										            </div>
									            </form>
									        </div>
									    </div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="mt-4 d-flex">
						<a href="#" class="btn btn-light border mx-1">View Course Details</a>
						<a href="#" class="btn btn-light border mx-1">Edit Course Details</a>
						<a href="#" class="btn btn-info ml-auto">Public Course</a>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock content %}