{% extends 'base.html' %}

{% block title %}{{ course.name }}{% endblock title %}

{% block content %}

	<div class="container-fluid mt-2">
		<div class="d-flex justify-content-between align-items-center bg_dark px-2 py-3 text-white">
			<span class="font-weight-bold">{{ course.name }}</span>
			<!-- Hamburger Menu -->

			<div class="bg-info d-lg-none rounded content-hamburger-menu d-flex flex-column justify-content-center align-items-center flex-shrink-0 ml-2" style="width: 45px; height: 35px; cursor: pointer;">
				<div class="rounded bg-white" style="width: 20px; height: 3px; margin: 1.5px 10px 1.5px 0;"></div>
				<div class="rounded bg-white" style="width: 20px; height: 3px; margin: 1.5px 0;"></div>
				<div class="rounded bg-white" style="width: 20px; height: 3px; margin: 1.5px -10px 1.5px 0;"></div>
			</div>
			<div class="position-fixed w-100 h-100 content-overlay-mobile" style="top: 0; left: 0; z-index: 3; background: rgba(0, 0, 0, 0.5); visibility: hidden; opacity: 0;"></div>
			<div class="position-fixed d-flex flex-column bg-white content-right-mobile" style="z-index: 2000; top: 66px; left: 100%; height: calc(100vh - 66px); overflow-y: scroll; width: 280px;">
				<div class="px-3 pt-3 pb-2 d-flex justify-content-between">
					<span class="text_dark font-weight-bold">Course Content</span>
					<i class="fa fa-times close-content-right c-pointer text_dark" style="font-size: 25px;"></i>
				</div>
				<hr class="w-100">
				{% include 'courses/course-content-accordion.html' with device='mobile' %}
			</div>

		</div>
		<div class="row">
			<div class="col-lg-9">
				<div class="my-4">
					<div class="section d-flex justify-content-center embed-responsive embed-responsive-16by9">
						<video class="embed-responsive-item" controls>
							<source src="{{ lecture.video.url }}#t=0.2">
						</video>
					</div>
				</div>
				<div>{{ lecture.content | safe }}</div>
				{% if lecture.additionalfile_set.all %}
					<div>
						<h6 class="text_dark font-weight-bold">Additional Files:</h6>
						<div>
							{% for file in lecture.additionalfile_set.all %}
								<div class="d-flex flex-column align-items-start mb-2">
									<span class="text-dark fw-6 text-break">{{ file.file.name | slice:"28:" }} ({{ file.file.size | filesizeformat }})</span>
									<a href="{{ file.file.url }}" class="btn btn-sm btn-info m-1" download>Download</a>
								</div>
							{% endfor %}
						</div>
					</div>
				{% endif %}
				<div class="d-flex align-items-center">
					{% if lecture.prev %}
						<a href="{% url 'student_lecture_detail' course.pk lecture.prev.pk %}" class="btn btn-info">Prev</a>
					{% endif %}
					{% if lecture.next %}
						<a href="{% url 'student_lecture_detail' course.pk lecture.next.pk %}" class="btn btn-info ml-auto">Next</a>
					{% endif %}
				</div>
			</div>
			<div class="col-lg-3 d-none d-lg-block">
				<h5 class="mt-2">Course Content</h5>
				<hr>
                {% include 'courses/course-content-accordion.html' with device='' %}
			</div>
		</div>
	</div>

{% endblock content %}

{% block js %}

	<script>
		const contentHamburgerMenu = document.querySelector('.content-hamburger-menu');
		const contentRightMobile = document.querySelector('.content-right-mobile');
		const contentOverlayMobile = document.querySelector('.content-overlay-mobile');
		const closeContentRight = document.querySelector('.close-content-right');
		let toggleEventOn = false;


		contentHamburgerMenu.addEventListener('click', function() {
			hideShowItems();
		});

		closeContentRight.addEventListener('click', function() {
			hideShowItems();
		});

		contentOverlayMobile.addEventListener('click', function() {
			hideShowItems();
		});

		function hideShowItems() {
			if (!toggleEventOn) {
				contentRightMobile.classList.toggle('active');
				contentOverlayMobile.classList.toggle('active');
				document.body.classList.toggle('stop-scroll');
				toggleEventOn = true;
			}
			setTimeout(function() {
				toggleEventOn = false;
			}, 350);
		};

	</script>

{% endblock js %}