{% extends 'base.html' %}

{% block title %}{{ course.name }}{% endblock title %}

{% block content %}

	<div class="container-fluid mt-2">
		<div class="d-flex justify-content-between align-items-center bg_dark px-2 py-3 text-white">
			<span class="font-weight-bold">{{ course.name }}</span>
			<!-- Hamburger Menu -->

			<div class="bg-info d-lg-none rounded content-hamburger-menu d-flex flex-column justify-content-center align-items-center flex-shrink-0 ml-2" style="width: 45px; height: 35px; cursor: pointer;">
				<div class="rounded bg-white" style="width: 20px; height: 3px; margin: 1.5px 10px 1.5px 0;"></div>
				<div class="rounded bg-white" style="width: 20px; height: 3px; margin: 1.5px 0;"></div>
				<div class="rounded bg-white" style="width: 20px; height: 3px; margin: 1.5px -10px 1.5px 0;"></div>
			</div>
			<div class="position-fixed w-100 h-100 content-overlay-mobile" style="top: 0; left: 0; z-index: 3; background: rgba(0, 0, 0, 0.5); visibility: hidden; opacity: 0;"></div>
			<div class="position-fixed d-flex flex-column bg-white content-right-mobile" style="z-index: 2000; top: 66px; left: 100%; height: calc(100vh - 66px); overflow-y: scroll; width: 280px;">
				<div class="px-3 pt-3 pb-2 d-flex justify-content-between">
					<span class="text_dark font-weight-bold">Course Content</span>
					<i class="fa fa-times close-content-right c-pointer text_dark" style="font-size: 25px;"></i>
				</div>
				<hr class="w-100">
				{% include 'courses/course-content-accordion.html' with device='mobile' %}
			</div>

		</div>
		<div class="row">
			<div class="col-lg-9">
				<div>{{ lecture.content | safe }}</div>
				{% if lecture.additionalfile_set.all %}
					<div>
						<h6 class="text_dark font-weight-bold">Additional Files:</h6>
						<div>
							{% for file in lecture.additionalfile_set.all %}
								<div class="d-flex flex-column align-items-start mb-2">
									<span class="text-dark fw-6 text-break">{{ file.file.name | slice:"28:" }} ({{ file.file.size | filesizeformat }})</span>
									<a href="{{ file.file.url }}" class="btn btn-sm btn-info m-1" download>Download</a>
								</div>
							{% endfor %}
						</div>
					</div>
				{% endif %}
				<div class="d-flex align-items-center">
					{% if lecture.prev %}
						<a href="{% url 'student_lecture_detail' course.pk lecture.prev.pk %}" class="btn btn-info">Prev</a>
					{% endif %}
					{% if lecture.next %}
						<a href="{% url 'student_lecture_detail' course.pk lecture.next.pk %}" class="btn btn-info ml-auto">Next</a>
					{% endif %}
				</div>
			</div>
			<div class="col-lg-3 d-none d-lg-block">
				<h5 class="mt-2">Course Content</h5>
				<hr>
				<!-- <div id="accordianId" role="tablist" aria-multiselectable="true">
                	{% for module in course.module_set.all %}

	                    <div class="course-accordion-item {% if module == lecture.module %}active{% endif %}">
	                        <div class="card-header inner" role="tab" id="section{{ module.pk }}HeaderId">
	                            <h6 class="mb-0">
	                                <a data-toggle="collapse" href="#section{{ module.pk }}ContentId" aria-expanded="true" aria-controls="section{{ module.pk }}ContentId" class="text_dark">{{ module.name }}</a>
	                            </h6>
	                        </div>
	                        <div id="section{{ module.pk }}ContentId" class="collapse {% if module == lecture.module %}show{% endif %}" role="tabpanel" aria-labelledby="section1HeaderId">
	                            <div class="card-body p-2">
	                                <ul class="pl-0" style="list-style: none;">
	                                	{% for lec in module.lecture_set.all %}

		                                    <li {% if lec == lecture %}style="background: rgba(0, 0, 0, 0.1);"{% endif %} class="d-flex align-items-center p-1 rounded">
		                                    	<div class="rounded-circle d-flex justify-content-center align-items-center bg_dark mr-2" style="width: 16px; height: 16px;">
		                                    	    <i class="fa fa-play text-white" aria-hidden="true" style="font-size: 8px;"></i>
		                                    	</div>
		                                        <a href="{% url 'student_lecture_detail' course.pk lec.pk %}" class="text_dark">{{ lec.topic }}</a>
		                                    </li>

	                                    {% endfor %}
	                                </ul>
	                            </div>
	                        </div>
	                    </div>

                    {% endfor %}
                </div> -->
                {% include 'courses/course-content-accordion.html' with device='' %}
			</div>
		</div>
	</div>

{% endblock content %}

{% block js %}

	<script>
		const contentHamburgerMenu = document.querySelector('.content-hamburger-menu');
		const contentRightMobile = document.querySelector('.content-right-mobile');
		const contentOverlayMobile = document.querySelector('.content-overlay-mobile');
		const closeContentRight = document.querySelector('.close-content-right');
		let toggleEventOn = false;


		contentHamburgerMenu.addEventListener('click', function() {
			hideShowItems();
		});

		closeContentRight.addEventListener('click', function() {
			hideShowItems();
		});

		contentOverlayMobile.addEventListener('click', function() {
			hideShowItems();
		});

		function hideShowItems() {
			if (!toggleEventOn) {
				contentRightMobile.classList.toggle('active');
				contentOverlayMobile.classList.toggle('active');
				document.body.classList.toggle('stop-scroll');
				toggleEventOn = true;
			}
			setTimeout(function() {
				toggleEventOn = false;
			}, 350);
		};

	</script>

{% endblock js %}